.fieldContainer label {
  color: gray;
}

.inputContainer input,
.inputContainer select,
.inputContainer number {
  letter-spacing: 1px;
  margin: 5px 0 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
}

.inputContainer {
  margin-bottom: 17px;
}

.inputContainer input:hover {
  border: 1px solid gray;
}

.inputContainer span {
  margin-top: 5px;
  display: block;
  color: red;
  width: 100%;
  text-align: center;
}

.buttonContainer button.saveButton {
  letter-spacing: 1px;
  margin-top: 15px;
  font-size: 16px;
  color: white;
  /* background-color: #ff7a24; */
  background-color: #00cc73;
  font-weight: bold;
  padding: 10px 45px;
  border: 2px solid #00cc73;
  /* border: 2px solid #ff7a24; */
  border-radius: 5px;
  transition: 0.3s;
}

.buttonContainer button.saveButton:hover {
  background-color: #008048;
  border: 2px solid #008048;
  /* background-color: #e85220; */
  /* border: 2px solid #e85220; */
}
